.main-container {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 2rem;
  padding: 1rem;
}

.container-right {
  display: flex;
  flex-direction: column;
  border: 1px solid #8a8484;
  padding: 2rem;
  align-items: center;
  border-radius: 5px;
}
.container-right form {
  display: flex;
  flex-direction: column;
  gap: 1rem;
  width: 100%;
}
.form-title {
  padding: 1rem;
}
.form-input input,
.form-input-error input {
  outline: none;
  border: none;
  font-size: 15px;
  width: 95%;
}
.form-input {
  border: 1px solid black;
  padding: 0.5rem;
  border-radius: 5px;
  display: flex;
}
.form-input-error {
  border: 1px solid red;
  padding: 0.5rem;
  border-radius: 5px;
  display: flex;
}

.error-img-display {
  display: block;
}

.error-img-none {
  display: none;
}
.login-btn {
  border: none;
  padding: 0.75rem;
  background-color: #8d61ff;
  border-radius: 10px;
  color: white;
  font-weight: bold;
  font-size: 1rem;
  cursor: pointer;
}
.create-account {
  padding: 1rem;
}

.error-txt-enable {
  color: red;
}

.error-txt-none {
  display: none;
}
